#!/usr/bin/env bash

predefined_sessions=("pocketlaw")

if [[ ! -z "$TMUXIFY_SESSION_NAME" ]]; then
    tmux new -s "$TMUXIFY_SESSION_NAME" || tmux at -t "$TMUXIFY_SESSION_NAME"
elif [[ ! " ${predefined_sessions[*]} " =~ "$1" ]]; then
    tmuxp load -y "$1"
elif [[ "$1" ]]; then
    tmux new -s $1 || tmux at -t "$1"
else
    tmuxp load -y cada
fi
