# Default to 256 color terminal
set -g default-terminal "screen-256color"

# Set the refresh rate of the statusbar to 10000
# set -g display-time 10000

# Mouse
set -g mouse on
#Taken from http://superuser.com/questions/209437/how-do-i-scroll-in-tmux

setw -g monitor-activity on
set -g visual-activity on
set -g set-titles on
set -g renumber-windows on
set -g automatic-rename off

set-option -g default-shell $SHELL

set-environment -g TMUX_PLUGIN_MANAGER_PATH "/Users/cbackstrom/.tmux/plugins"

source-file "/Users/cbackstrom/.tmux/tmux-color.theme.conf"

# # Enable Tmucx plugin manager
# # https://github.com/tmux-plugins/tpm
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'

# https://github.com/NHDaly/tmux-better-mouse-mode
set -g @plugin 'nhdaly/tmux-better-mouse-mode'

set -g status-right ''
set -g status-left-length 50

run '~/.tmux/plugins/tpm/tpm'
